<%- include('./partials/header.ejs') %>

<h1><%= movies.title %></h1>

<a href="/movies/<%=movies.id%>/edit">Add new reference</a>
<br><br><br><br>

<p><%=movies.references%></p>


<%- include('./partials/footer.ejs') %> 