<%- include('./partials/header.ejs') %>

<h1 id="mainHeading" class="mainHeading mw-main-heading">
     <i><%=movies.title%> (Movie)</i>
</h1>

<table class="movieInfo">
<tobdy>
    <tr>
        <th colspan="2" class="moviebox-above">
        <i> <%=movies.title%></i>
    </th>
    </tr>
    <tr>
        <td colspan="2" class="moviebox-image">
            <a href= "/movies/<%=movies.id%>"class="movieImage">
                <img alt="<%=movies.title%>" src="<%=movies.image%>">
            </a>
        </td>
    </tr>

</tobdy>
</table>
<a href="/movies/<%=movies.id%>/edit">Add new reference</a>

<h2 id="descriptionTitle">Overview</h2>
<p id="descriptionOverview"> <%=movies.description%> <br><br></p>

<h2 id="plotID">Plot</h2>
<p id="plotOverview"><%=movies.plot%></p>


<br><br><br><br>


<div class="referenceContainer">
<% 

for (let i= 0; i < movies.references.length; i++) {
    %>
    
    <ul id="refList"> 
        <li id="movieReference" class="refTitle"><%= movies.references[i].reference%></li>
        <li id="movieSource"><p id="category"> Source Media:</p><p id="catInfo"><%= movies.references[i].mediaType %></p></li>
        <li id="movieTimestamp"><p id="category">Timestamp:</p><%=movies.references[i].timestampM %> minutes, <%=movies.references[i].timestampS %> seconds. <br> <br></li>
        <li id="movieDescription"><p id="category">Description: </p><%=movies.references[i].description%><br><br></li>
        <li id="catImg"><img class="boxImg" src="<%=movies.references[i].refImg%>"></li>
        <li id="delete"><button onclick="Movie.update(
            {},
            { $pull: { references: { id: movies.references[i].id} } },
            { new: true },
          )">Delete Reference</button></li>
    </ul>
    
    
<% } %>
</div>

<br><br><br><br>

<%- include('./partials/footer.ejs') %> 