<%- include('./partials/header.ejs') %>

<h1 id="mainHeading" class="mainHeading mw-main-heading">
     <i><%=tvs.title%> (TV Show)</i>
</h1>

<table class="movieInfo">
<tobdy>
    <tr>
        <th colspan="2" class="moviebox-above">
        <i> <%=tvs.title%></i>
    </th>
    </tr>
    <tr>
        <td colspan="2" class="moviebox-image">
            <a href= "/television/<%=tvs.id%>"class="movieImage">
                <img id="tvImage" alt="<%=tvs.title%>" src="<%=tvs.image%>">
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Release Year</th>
        <td class="infobox-data category">
            <div class="plain">
                <ul id="dataUL">
                    <li id="yearLI"><%=tvs.year%></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Wikipedia Link</th>
        <td class="infobox-data category">
            <div class="plain">
                <ul id="dataUL">
                    <li ><a href="<%=tvs.wikipedia%>"><img id="wikipedia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Wikipedia-logo-v2-en.svg/418px-Wikipedia-logo-v2-en.svg.png" alt="Wikipedia"></a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">IMDB Link</th>
        <td class="infobox-data category">
            <div class="plain">
                <ul id="dataUL">
                    <li ><a href="<%=tvs.imdb%>"><img id="imdb" src="https://ia.media-imdb.com/images/M/MV5BODc4MTA3NjkzNl5BMl5BcG5nXkFtZTgwMDg0MzQ2OTE@._V1_.png" alt="IMDB"></a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Edit Info</th>
        <td class="infobox-data category">
            <div class="plain">
                <ul id="dataUL">
                    <li ><a href="/television/<%=tvs.id%>/edit2">EDIT TV INFORMATION</a></li>
                </ul>
            </div>
        </td>
    </tr>

</tobdy>
</table>
<a href="/television/<%=tvs.id%>/edit">Add new reference</a>

<h2 id="descriptionTitle">Overview</h2>
<p id="descriptionOverview"> <%=tvs.description%> <br><br></p>

<h2 id="plotID">Plot</h2>
<p id="plotOverview"><%=tvs.plot%></p>


<br><br><br><br>

<!-- <script>
    function deleteTV(){
    TV.updateOne(
        {},
        {
        $pull: {
            references: tvs.references[i].title,
        }    
        }, {new:true}, (err, foundTV)=> {
            res.redirect('/television')
        }
        
    )}
</script> -->

<div class="referenceContainer">
<% 

for (let i= 0; i < tvs.references.length; i++) {
    %>
    <%= console.log(tvs.id)%>

    <form class="refList" action="/television/<%=tvs.id%>?_method=DELETE" method="POST"> 

        <input type="hidden" value="<%=tvs.references[i].id%>" name="refID">

        <input id="movieReference" class="refTitle" readonly value="<%= tvs.references[i].reference%>">
        <input id="episode" readonly value="<%= tvs.references[i].episodeName%>">
        <input id="movieSource" readonly value="<%= tvs.references[i].mediaType %>">
        <input id="movieTimestamp" readonly value="<%=tvs.references[i].timestampM %> minutes, <%=tvs.references[i].timestampS %> seconds.">
        <input id="movieDescription" readonly value="<%=tvs.references[i].description%>">
        <input id="catImg" readonly value="<%=tvs.references[i].refImg%>"><img class="boxImg" src="<%=tvs.references[i].refImg%>">
        
        <button id="delete" type="submit" action value="delete">Delete Reference</button>
    </form>

    

<%  } %>
</div>
<div id="deleteFull"> <form onsubmit="return confirm('Do you REALLY want to delete the whole TV show?');" action="/television/<%=tvs.id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" /></div>


<br><br><br><br>

<%- include('./partials/footer.ejs') %> 
